If:
  PathMatch: '.*\.h'
CompileFlags:
  Add: [-x, c]
---
CompileFlags:
  Add:
    - "-pedantic"
    - "-std=c89"
    - "-I."
    - "-I.."
    - "-Itests"
    - "-DPT_STATIC_API"
    - "-Wno-variadic-macros"
  Remove:
    - "-Werror"
